<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="StartUp analog">
    <meta name="description" content="Srartup.com">
    <title>StartUp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
</head>

<body>
    <div class="bars-nav" id="bars-nav">
        <p id="times" class="times"><i class="fa fa-times" aria-hidden="true"></i></p>
        <div class="d-flex bars-blok justify-content-center align-items-center">
            <a href="#home-section" id="links1">Home</a>
            <a href="#services" id="links2">Services</a>
            <a href="#about-us" id="links3">About</a>
            <a href="#works" id="links4">Works</a>
            <a href="#blog" id="links5">Blog</a>
            <a href="#clients" id="links6">Clients</a>
            <a href="#contact" id="links7">Contact</a>
        </div>
    </div>
    <div class="container-xxl" id="container">
        <div class="home-section" id="home">
            <div class="rectangle"></div>
            <div class="navbar d-flex justify-content-center align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 d-flex justify-content-center">
                    <h2>Startup</h2>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 nav">
                    <ul class="row">
                        <li class="col"><a href="#home">Home</a></li>
                        <li class="col"><a href="#services">Services</a></li>
                        <li class="col"><a href="#about-us">About</a></li>
                        <li class="col"><a href="#works">Works</a></li>
                        <li class="col"><a href="#blog">Blog</a></li>
                        <li class="col"><a href="#clients">Clients</a></li>
                        <li class="col"><a href="#contact">Contact</a></li>
                    </ul>
                </div>
                <p id="bars"><i class="fa fa-bars bars" aria-hidden="true"></i></p>
            </div>
            <div class="caption">
                <h1>WELCOME TO STARTUP</h1>
                <p>Your Favourite Creative Agency Template</p>
                <button class="btn btn-outline-light get-started">GET STARTED</button>
            </div>
        </div>
        <div class="services my-5" id="services">
            <h3 class="text-center full-text">services</h3>
            <span class="solid my-3"></span>
            <div class="row single-services d-flex justify-content-around">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 services-blocks">
                    <div class="services-circile d-flex justify-content-center  align-items-center">
                        <img src="./image/services/fa-font.png" alt="error image">
                    </div>
                    <h4 class="text-center">clean typography</h4>
                    <p class="text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis vel commodi,
                        perspiciatis dolores
                        maxime assumenda corrupti maiores voluptate sapiente eveniet aliquid culpa reiciendis tempora
                        modi, nesciunt et.</p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 services-blocks">
                    <div class="services-circile2 d-flex justify-content-center  align-items-center">
                        <img src="./image/services/fa-code.png" alt="error image">
                    </div>
                    <h4 class="text-center">rock solid code</h4>
                    <p class="text-center">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maxime, aperiam,
                        labore placeat ea
                        reiciendis vel libero magni rem, ratione fugit similique sed possimus neque nemo laudantium
                        natus! Tenetur, provident fugit.</p>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 services-blocks">
                    <div class="services-circile3 d-flex justify-content-center  align-items-center">
                        <img src="./image/services/fa-support.png" alt="error image">
                    </div>
                    <h4 class="text-center">expert support</h4>
                    <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt hic quo
                        eius reprehenderit
                        reiciendis. Enim ipsam consequatur nihil, omnis nesciunt porro aliquam vel iusto ad expedita
                        minus harum odit modi.</p>
                </div>
            </div>
        </div>
        <div class="about-us" id="about-us">
            <h3 class="text-center full-text">About Us</h3>
            <span class="solid my-3"></span>
            <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="row my-5">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 about-text">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, maxime sint! Vel delectus,
                        voluptas a libero eligendi atque id explicabo expedita asperiores itaque similique ratione cum
                        molestias adipisci eos accusantium.</p>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 about-text">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate expedita perspiciatis sit
                        perferendis non. Aliquid tempora quas amet facilis quod quaerat omnis, nostrum odit, qui soluta
                        tempore magnam velit ratione.</p>
                </div>
            </div>













            <div class="about-images owl-carousel owl-theme justify-content-around">
                {% for i in staff %}
                <div class="image__block1 item my-1">
                    <img src="{{i.rasm}}" id="hover-image1" alt="error image">
                    <h5 class="text-center my-3">{{i.ism}}</h5>
                    <h6 class="text-center">{{i.title}}</h6>
                    <div class="overlay">
                        <div class="text">
                            <i class="fab fa-facebook" aria-hidden="true"></i>
                            <i class="fab fa-twitter" aria-hidden="true"></i>
                            <i class="fab fa-google-plus" aria-hidden="true"></i>
                            <i class="fab fa-linkedin" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
















        </div>
        <div class="works" id="works">
            <h3 class="text-center full-text">Latest works</h3>
            <span class="solid my-3"></span>
            <ul class="d-flex row latest-navbar justify-content-center">
                <li id="all">All</li>
                <li id="branding">Branding</li>
                <li id="design">Design</li>
                <li id="developmen">Development</li>
                <li id="strategy">Strategy</li>
            </ul>
            <div class="works-images mx-auto row justify-content-around">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-3" id="image1">
                    <img src="./image/works/image1.png" alt="error image">
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-3" id="image2">
                    <img src="./image/works/image2.png" alt="error image">
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-3" id="image3">
                    <img src="./image/works/image3.png" alt="error image">
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-3" id="image4">
                    <img src="./image/works/image4.png" alt="error image">
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-3" id="image5">
                    <img src="./image/works/image5.png" alt="error image">
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-3" id="image6">
                    <img src="./image/works/image6.png" alt="error image">
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-3" id="image7">
                    <img src="./image/works/image7.png" alt="error image">
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-3" id="image8">
                    <img src="./image/works/image8.png" alt="error image">
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6 col-6 my-3" id="image9">
                    <img src="./image/works/image9.png" alt="error image">
                </div>
            </div>
        </div>
        <div class="call-to-action-parallax">
            <div class="parallax-section d-flex justify-content-center align-items-center">
                <h2>Do you like OUR WORK so far? Let's talk about YOUR PROJECT!</h2>
                <button class="btn btn-outline-light">GET IN TOUCH</button>
            </div>
            <div class="blog" id="blog">
                <h3 class="text-center full-text">REGENT BLOG POSTS</h3>
                <span class="solid my-3"></span>
                <p class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                <div class="blog-post__1 blog-post row">
                    <div
                        class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-sm-12 d-flex justify-content-center my-5">
                        <div class="blog-image">
                            <img src="./image/blog/image1.png" alt="error image">
                        </div>
                    </div>
                    <div
                        class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 row content d-flex align-items-center">
                        <div class="col-3"><span class="data d-flex justify-content-center align-items-center">18
                                oct</span></div>
                        <div class="col-9">
                            <h5 class="on-hover">STARTUP IDEAS NEEDS TO BE FUNDED</h5>
                            <p><i>By <span class="on-hover">Khalil</span> Uddin in <span
                                        class="on-hover">Development</span></i></p>
                        </div>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint
                            omnis maxime quasi veritatis obcaecati necessitatibus illo modi accusamus, tempore enim nemo
                            praesentium aspernatur eum corporis a officia fugiat, tenetur, voluptatibus nisi consectetur
                            quod repellendus sunt? Nisi culpa, et consequuntur dolorum sapiente commodi magni, expedita
                            quaerat incidunt ex, reprehenderit animi?</p>
                        <button class="btn btn-uotline-light on-hover read-more">READ MORE</button>
                    </div>
                </div>
                <hr>
                <div class="blog-post__2 blog-post row">
                    <div
                        class="col-xxl-5 col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12 d-flex justify-content-center my-5">
                        <div class="blog-image">
                            <img src="./image/blog/image2.png" alt="error image">
                        </div>
                    </div>
                    <div
                        class="col-xxl-7 col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12 row content d-flex align-items-center">
                        <div class="col-3"><span class="data d-flex justify-content-center align-items-center">18
                                oct</span></div>
                        <div class="col-9 ">
                            <h5 class="on-hover">USER INTERFACE DESIGNING ELEMENTS</h5>
                            <p><i>By <span class="on-hover">Khalil</span> Uddin in <span
                                        class="on-hover">Development</span></i></p>
                        </div>
                        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit sint
                            omnis maxime quasi veritatis obcaecati
                            necessitatibus illo modi accusamus, tempore enim nemo praesentium aspernatur eum corporis a
                            officia fugiat, tenetur,
                            voluptatibus nisi consectetur quod repellendus sunt? Nisi culpa, et consequuntur dolorum
                            sapiente commodi magni,
                            expedita quaerat incidunt ex, reprehenderit animi?</p>
                        <button class="btn btn-uotline-dark on-hover read-more">READ MORE</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clients my-5" id="clients">
            <div class="clients-logo d-flex justify-content-around align-items-center row">
                <div class="col-1"></div>
                <div class="col-2">
                    <img src="./image/cleints logos/image1.png" alt="error image">
                </div>
                <div class="col-2">
                    <img src="./image/cleints logos/image2.png" alt="error image">
                </div>
                <div class="col-2">
                    <img src="./image/cleints logos/image3.png" alt="error image">
                </div>
                <div class="col-2">
                    <img src="./image/cleints logos/image4.png" alt="error image">
                </div>
                <div class="col-2">
                    <img src="./image/cleints logos/image5.png" alt="error image">
                </div>
                <div class="col-1"></div>
            </div>
            <p class="text-center text">
                <i>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Necessitatibus nemo et similique at,
                    quisquam suscipit molestiae assumenda quae.</i>
            </p>
            <p class="text-center my-4 john">John Doe, Google lnc.</p>
        </div>
        <div class="contact" id="contact">
            <h3 class="text-center full-text">GET IN TOUCH</h3>
            <span class="solid my-3"></span>
            <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="row contact-me">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-4 col-md-6 col-sm-12 col-12 contactes">
                    <div class="address">
                        <h5><i class="fa fa-address-book" aria-hidden="true"></i> ADDRESS</h5>
                        <p>312, 7th Ave, New York</p>
                        <p>NY 101200, Unitet States of America</p>
                    </div>
                    <div class="phone">
                        <h5><i class="fa fa-phone-square" aria-hidden="true"></i> HOTLINE (24x7)</h5>
                        <p><a href="tel:+65 0052 300">+65 0052 300</a>, <a href="tel:+65 88251 210">+65 88251 210</a>
                        </p>
                        <p><a href="tel:+88 01723 511 340">+88 01723 511 340</a></p>
                    </div>
                    <div class="email">
                        <h5><img src="./image/email-ican.png" class="email-ican" alt="error image"> EMAIL</h5>
                        <p><a href="mailto:shapedtheme@gmail.com">shapedtheme@gmail.com</a></p>
                        <p><a href="mailto:khalilkode@gmail.com">khalilkode@gmail.com</a></p>
                    </div>
                </div>
                <form
                    class="col-xxl-8 col-xl-8 col-lg-8 col-8 col-md-6 col-sm-12 col-12 row d-flex justify-content-between align-items-center messages"
                    action="#">
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-10 col-sm-10 col-10 full-name">
                        <input type="text" name="text" class="form-control" id="full-name" placeholder="FULL NAME">
                    </div>
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-10 col-sm-10 col-10 your-email">
                        <input type="email" name="email" class="form-control" id="email" placeholder="YOUR E-MAIL">
                    </div>
                    <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-10 col-sm-10 col-10 your-subject">
                        <input type="text" name="subject" class="form-control" id="subject" placeholder="YOUR SUBJECT">
                    </div>
                    <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-10 col-sm-10 col-10">
                        <input type="text" name="company-name" class="form-control" id="company-name"
                            placeholder="COMPANY NAME">
                    </div>
                    <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
                    <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 your-message">
                        <textarea name="message" id="message" class="form-control" rows="10"
                            placeholder="WRITE YOUR MESSAGE"></textarea>
                    </div>
                    <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
                    <div class="col-xxl-10 col-xl-10 col-lg-10 col-md-10 col-sm-10 col-10 row button-message">
                        <button class="btn btn-outline-dark" type="button">SEND MESSAGE</button>
                        <p class="button-note"><span>*</span> We'll contact you as as possible. We don't reply on
                            Monday.</p>
                    </div>
                    <div class="col-xxl-1 col-xl-1 col-lg-1 col-md-1 col-sm-1 col-1"></div>
                </form>
            </div>
        </div>
        <div class="footer d-flex justify-content-center align-items-center">
            <div class="row my-web__site-link">
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <a href="#" target="_blank" class="d-flex justify-content-center align-items-center"
                        rel="noopener noreferrer">
                        <i class="fab fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <a href="#" target="_blank" class="d-flex justify-content-center align-items-center"
                        rel="noopener noreferrer">
                        <i class="fab fa-telegram" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <a href="#" target="_blank" class="d-flex justify-content-center align-items-center"
                        rel="noopener noreferrer">
                        <i class="fab fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <a href="#" target="_blank" class="d-flex justify-content-center align-items-center"
                        rel="noopener noreferrer">
                        <i class="fab fa-facebook" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <a href="#" target="_blank" class="d-flex justify-content-center align-items-center"
                        rel="noopener noreferrer">
                        <i class="fab fa-github" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2">
                    <a href="#" target="_blank" class="d-flex justify-content-center align-items-center"
                        rel="noopener noreferrer">
                        <i class="fab fa-youtube" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <p class="text-center comiyrater">@ 2022 STARTUP, WEB SITE BY SHAPEDTHEME</p>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

</html>